
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 0.8rem;
}

.wrapper {
  padding: 0 10%;

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
    align-items: center;
  gap: 20px
}

.nav a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 7px;
}

.nav a:hover {
  color: white;
  background-color: gray;
}

.nav a.active {
  color: white;
  background-color: gray;
}
.icon-pen:hover {
    fill: white;
}

.nav a.active .icon-pen{
    fill: white;
}

/*POST*/

.home {
    margin-top:30px;
}


a {
    color: gray;
}


/* Form  */
.post form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 200px;
  }

form input {
    height: 30px;
    border-radius: 5px;
    outline: #11e4c1;
    border: 1px solid #11e4c1;
    margin: 2px;
    padding: 0 10px;
    text-align: start;

  }

  form input:focus {
    outline: #11e4c1;
    box-shadow: 0 0 0 0.1rem #11e4c1;
  }

  textarea {
      width: 100%;
      height: 60px;

    border-radius: 5px;
    outline: #11e4c1;
    border: 1px solid #11e4c1;
    margin: 2px;
    padding: 0 10px;
    text-align: start;
  }

  textarea:focus {
      outline: #11e4c1;
    box-shadow: 0 0 0 0.1rem #11e4c1;
  }

.response {
    text-align: center;
}

.posts {
    margin-bottom: 100px;
}

.post_component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.post_component:hover {
    background-color: #d2d2d2;
}

.icon-tabler-trash-filled:hover {
    color: #ec2525;
}

.icon-tabler-pencil:hover {
    color: green;
}

.post_content {
    margin: 5px 0;
    cursor: default;

}

.post h3, .post p {
    margin: 5px 0;
}

.tag_list {
    display: flex;
    gap: 7px;
}

.tag {
    background-color: gray;
    color: white;
    padding: 4px 7px;
    font-size: 0.8rem;
    border-radius: 20px;
    font-size: 0.6rem;
}

/*Post view*/

.post_view {
    margin: 50px 0;
}

.post_view p {
    margin: 0;
}

/*comment*/

.comment p {
    margin: 0;
}

.comment {
    margin: 10px 0;
}

 /*
 Footer*/
.dev_info{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0;
}

.dev_info a {
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .wrapper{
    padding: 0 10px;
  }
}